<header class="header_template">
  <nav class="navbar navbar-default nav-title" style="background-color:#fff;">
    <a class="navbar-brand" href="">
      <%= image_tag('logo.png') %>
    </a>
    <div class="brand">
      <h1 class="text-center">Fr Elearning System</h1>
    </div>
  </nav>
</header>
