 <div class="space navbar-collapse">

    <ul class="breadcrumbs nav navbar-nav">

      <li class="active">
        <i class="fa fa-home" aria-hidden="true"></i>
        Trang chủ
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="feedback">
        <%= link_to('#') do %>
          <i class="fa fa-book" aria-hidden="true"></i>Courses
        <% end %>
      </li>
      <li class="feedback">
        <%= link_to('#') do %>
          <i class="fa fa-comment" style="margin-right: 5px"></i>About
        <% end %>
      </li>
      <li class="signup">
        <%= link_to('#') do %>
          <i class="fa fa-registered" aria-hidden="true"></i>Sign up
        <% end %>
      </li>
      <li class="sign-in">
        <%= link_to('#') do %>
          <i class="fa fa-sign-in" aria-hidden="true"></i>Sign in
        <% end %>
      </li>
</ul>

</div>
