/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
@import "bootstrap-sprockets";
@import "bootstrap";
// === Header style ====//
.header_template {
  padding-bottom : 20px;
 nav {
   background-image : linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
   padding-bottom: 30px;
 }
}

nav.navbar-menu {

}

footer {
  border-top: 2px solid #bdc3c7;
  padding: 20px;
  background-image : linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

h1.admin-page-title, h1.text-center {
  color: #044c79;
  text-transform: uppercase;
  font-family: "Great Vibes", cursive;
  text-shadow: 0 2px 6px rgba(0,0,0,.5);
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

.save-word, .reset {
  width: 49%;
}

.remove_fields {
  margin-left: 15px;
}

input[name="word_type"] {
  width: auto !important;
  display: inline-block !important;
  margin-left: 10px
}

div.radio-checkbox {
  margin-top: 10px;
}

ul.user_process li {
  list-style: none;
  margin: 5px 0px 20px 0px;
  padding-bottom: 10px;
}

ul.user_process li:first-child {
  margin-top: 15px;
}

.alert {
  border: 2px solid transparent;
  text-shadow: 0 1px 0 rgba(255,255,255,.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 2px rgba(0,0,0,.05);
}

ul.user_process button {
  margin-top: -6%;
}

